In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
df.shape

(918, 12)

In [7]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [8]:
df.shape

(918, 12)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['ChestPainType'] = le.fit_transform(df['ChestPainType'])
df['RestingECG'] = le.fit_transform(df['RestingECG'])
df['ExerciseAngina'] = le.fit_transform(df['ExerciseAngina'])
df['ST_Slope'] = le.fit_transform(df['ST_Slope'])

In [12]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [14]:
X = df.drop('HeartDisease', axis = 'columns')
y = df.HeartDisease

In [15]:
from sklearn.preprocessing import StandardScaler

In [18]:
ss = StandardScaler()
Xs = ss.fit_transform(X)
Xs

array([[-1.4331398 ,  0.51595242,  0.22903206, ..., -0.8235563 ,
        -0.83243239,  1.05211381],
       [-0.47848359, -1.93816322,  1.27505906, ..., -0.8235563 ,
         0.10566353, -0.59607813],
       [-1.75135854,  0.51595242,  0.22903206, ..., -0.8235563 ,
        -0.83243239,  1.05211381],
       ...,
       [ 0.37009972,  0.51595242, -0.81699495, ...,  1.21424608,
         0.29328271, -0.59607813],
       [ 0.37009972, -1.93816322,  0.22903206, ..., -0.8235563 ,
        -0.83243239, -0.59607813],
       [-1.64528563,  0.51595242,  1.27505906, ..., -0.8235563 ,
        -0.83243239,  1.05211381]])

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(Xs, y, test_size=0.2, random_state=10)

In [21]:
from sklearn.svm import SVC

In [24]:
sv = SVC()
sv.fit(X_train, y_train)
sv.score(X_test,y_test)

0.8532608695652174

In [25]:
from sklearn.ensemble import BaggingClassifier

In [32]:
bag = BaggingClassifier(
    estimator= SVC(),
    n_estimators=100,
    max_features=0.8,
    oob_score= True,
    random_state=10
)
bag.fit(X_train, y_train)
bag.score(X_test,y_test)

0.8695652173913043

In [33]:
from sklearn.tree import DecisionTreeClassifier
tc = DecisionTreeClassifier()
tc.fit(X_train, y_train)
tc.score(X_test,y_test)

0.7554347826086957

In [34]:
bag = BaggingClassifier(
    estimator= DecisionTreeClassifier(),
    n_estimators=100,
    max_features=0.8,
    oob_score= True,
    random_state=10
)
bag.fit(X_train, y_train)
bag.score(X_test,y_test)

0.8478260869565217